# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [2]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
last_three = a[-3:]

In [3]:
# create a list of numbers from 1 to 20
one_twenty = []
for x in range(1,21):
    one_twenty.append(x)

In [4]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
fifty_evens = []
for x in range(0,101,2):
    fifty_evens.append(x)

In [5]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide_nums(a,b):
    if(b != 0):
        return a/b
    else:
        return "ERROR: attempt to divide by 0"

In [6]:
# write a function that takes a string as input
# and return that string in all caps
def lower2upper(string_in):
    return string_in.upper()

In [7]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for x in range(0,31):
    if x%3 == 0 and x%5 == 0:
        print("fizzbuzz")
    elif x%3 == 0:
        print("fizz")
    elif x%5 == 0:
        print("buzz")
    else:
        print(x)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [8]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
ahmos_prices = {"Gryo":"$9","Burger":"$9","Greek Salad":"$8","Philly Steak":"$10"}

In [9]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
starbucks = pd.read_csv("../data/starbucks.csv")
type(starbucks)

pandas.core.frame.DataFrame

In [10]:
# output the calories, sugars, and protein columns only of every 40th row. 
starbucks.loc[::40,["calories","sugars","protein"]]

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [11]:
# select all rows with more than and including 400 calories
high_cal = starbucks[starbucks['calories'] >= 400]

In [12]:
# select all rows whose vitamin c content is higher than the iron content
vit_c = starbucks[(starbucks['vitamin c'] > starbucks['iron'])]

In [13]:
# create a new column containing the caffeine per calories of each drink
starbucks['caffeine/calories'] = starbucks['caffeine'] / starbucks['calories']

In [14]:
# what is the average calorie across all items?
starbucks['calories'].mean()

193.87190082644628

In [ ]:
# how many different categories of beverages are there?
unique_drinks = starbucks['beverage_category'].nunique()

In [ ]:
# what is the average # calories for each beverage category?
cals_per_bevs = starbucks.groupby('beverage_category')['calories'].mean()